<div style="border-top:1px solid #d3d7d8;padding:20px;background:#f0f0f0;text-align:center;position: absolute;bottom: 0;left: 0;right: 0;">
    <ol>
        <li style="justify-content:center;align-items:center;flex-wrap:wrap;display:flex;padding:5px 0;white-space: pre;">
            <span>Реализовано командой </span>
            <a href="https://digitalbis.ru" target="_blank" style="color:#158fd2">DigitalBusiness</a>
        </li>
        <li style="justify-content:center;align-items:center;flex-wrap:wrap;display:flex;padding:5px 0;white-space: pre;">
            <span>По вопросам технической работы виджета, обращайтесь </span>
            <a href="mailto:help@digitalbis.ru" target="_blank" style="color:#158fd2">help@digitalbis.ru</a>
            <span> или </span>
            <a href="https://api.whatsapp.com/send?phone=79773697147" target="_blank" style="color:#158fd2"><img style="display:block;height:25px" src="https://amoai.ru/pm/var/images/public/widget/footer/icons/whatsapp_32x32.png" alt=""></a>
        </li>
        <li style="justify-content:center;align-items:center;flex-wrap:wrap;display:flex;padding:5px 0;white-space: pre;">
            <a href="https://tlgg.ru/joinchat/AAAAAEmKH3zj3VAvIwbw_Q" target="_blank" style="margin:0 10px 0 0"><img style="display:block;height:25px" src="https://amoai.ru/pm/var/images/public/widget/footer/icons/telegram_32x32.png" alt=""></a>
            <a href="https://tlgg.ru/joinchat/AAAAAEmKH3zj3VAvIwbw_Q" target="_blank" style="color:#158fd2">Канал о бизнес процессах и современных технологиях</a>
        </li>
        <li style="justify-content:center;align-items:center;flex-wrap:wrap;display:flex;padding:5px 0;white-space: pre;">
            <a href="https://www.youtube.com/channel/UCg7c6KImG8lq0l6AAJMOKIQ?sub_confirmation=1" target="_blank" style="margin:0 10px 0 0"><img style="display:block;height:25px" src="https://amoai.ru/pm/var/images/public/widget/footer/icons/youtube_32x32.png" alt=""></a>
            <a href="https://www.youtube.com/channel/UCg7c6KImG8lq0l6AAJMOKIQ?sub_confirmation=1" target="_blank" style="color:#158fd2">Больше виджетов на нашем youtube канале</a>
        </li>
    </ol>
</div>